html,
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: black;
	color: white;
	box-sizing: border-box;
}

div#root {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* To define a global (non-namespaced) class, use @global */
@global .result {
	font-weight: bold;
	font-family: monospace;
	color: #0f0;
}
